html, body {
  margin: 0;
}

.MuiContainer-root {
  margin-top: 1rem;
}

.weather-cards {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.weather-cards > div {
  width: 300px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.add-city {
  display: flex;
}

.add-city > .MuiAutocomplete-root {
  margin-right: 1rem;
}

.filter {
  margin-top: 1rem;
  max-width: 300px;
}